@model IEnumerable<CP1Enterprise_EntityFramework_FIAP.Web.Entities.Carta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FotoUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carta.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CartaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CartaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
